.padding-t-50 {
    padding-top: 30px;
}
.container {
    padding-bottom: 20px;
}

#svg-canvas {
    border: 3px solid #ddd; 
    background-color: #f0f0f0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line.disabled {
    stroke-opacity: 0.15;
}

.line.active {
    stroke-opacity: 1;
    stroke-width: 3px;
}

.labels .l {
    line-height: 20px;
    cursor: pointer;
    color: #555;
    font-weight: bold;   
    padding: 10px 20px; 
}

.labels .l * {
    vertical-align: middle;
}

.labels .l i{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%; 
    margin-right: 5px;   
}

i.i-0 { background-color: #808000; }
i.i-1 { background-color: #3c6404; }
i.i-2 { background-color: #495a81; }
i.i-3 { background-color: #e6194b; }
i.i-4 { background-color: #f032e6; }
i.i-5 { background-color: #800000; }
i.i-6 { background-color: #000080; }
i.i-7 { background-color: #aa6e28; }
i.i-8 { background-color: #f58231; }
i.i-9 { background-color: #0082c8; }
i.i-10 { background-color: #008080; }
i.i-11 { background-color: #3cb44b; }
